{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "htmlWhitespaceSensitivity": "ignore",
  "insertPragma": false,
  "singleQuote": true,
  "tabWidth": 2,
  "quoteProps": "as-needed",
  "useTabs": false,
  "printWidth": 150,
  "requirePragma": false,
  "semi": false,
  "trailingComma": "all",
  "endOfLine": "lf",
  "proseWrap": "preserve",
  "overrides": [
    {
      "files": ".prettierrc",
      "options": {
        "parser": "json"
      }
    }
  ]
}
